---
# tasks file for centos
- name: Install required packages
  yum:
    name: yum-utils
    state: present

- name: Add Docker repository
  yum_repository:
    name: docker
    description: Docker Repo
    baseurl: https://download.docker.com/linux/centos/docker-ce.repo

